extends layout

block content
    h1= title
    p Welcome to #{title}
    form(action="/orders/new" method="post")
        input(type="text" name="cardholder_name" value='Siddhartha Balasubramanian' readonly)
        input(type="text" name="payment_number" value='4538')
        input(type="text" name="security_code" value='123')
        input(type="text" name="credit_month" value='11' readonly)
        input(type="text" name="credit_year" value='2017' readonly)
        input(type="text" name="payment_type" value='10' readonly)
        input(type="submit" value="Submit")
    form(action="/orders/new" method="post")
        input(type="text" name="cardholder_name" value='Ting Shi' readonly)
        input(type="text" name="payment_number" value='5593')
        input(type="text" name="security_code" value='123')
        input(type="text" name="credit_month" value='02' readonly)
        input(type="text" name="credit_year" value='2018' readonly)
        input(type="text" name="payment_type" value='11' readonly)
        input(type="submit" value="Submit")
